{% extends 'base.html' %}

{% block content %}

<div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        <p>
            가입일 : {{ target_user.date_joined }}
        </p>


        
        {% if target_user.profile %}
        <img src="{{ target_user.profile.image.url }}" alt="" style="height: 12rem;
width: 12rem; border-radius: 20rem; margin-bottom:2rem; object-fit:cover;">

        <h2 style="font-family: 'NanumSquareRoundOTFEB';">
            닉네임 : {{ target_user.profile.nickname }}

                {% if target_user == user %}
                <a class="material-icons"
                   style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
                   href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                    edit
                </a>
                {% endif %}

        </h2>
        <h4>
            포인트 점수 : {{ target_user.profile.points }}
        </h4>
        <h5 style="margin-bottom:3rem;"   >
            메세지 : {{ target_user.profile.message }}
        </h5>
        {% else %}
            {% if target_user == user %}
            <a href="{% url 'profileapp:create' %}">
                <h2 style="font-family: 'NanumSquareRoundOTFEB';">
                Create Profile
                </h2>
            </a>
                {% else %}
                닉네임 미설정
            {% endif %}
        {% endif %}




        {% if target_user == user %}
        <a class="material-icons"
           style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
           href="{% url 'accountapp:update' pk=user.pk %}">
            <p>
                settings
            </p>
        </a>
        <a class="material-icons"
           style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem;"
           href="{% url 'accountapp:delete' pk=user.pk %}">
            <p>
                cancel
            </p>
        </a>
        {% endif %}
    </div>

    {% include 'snippets/list_reporthuman.html' with article_list=object_list %}
</div>

{% endblock %}