.reporthuman_logo{
    font-family: 'Grandstander', cursive;
}

.reporthuman_footer_button{
    font-size: .9rem;
}

.reporthuman_footer{
    text-align: center;
    margin-top: 2rem;
}
.reporthuman_header{
    text-align: center;
     margin: 2rem 0;
}

