{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="text-center">

<!--    <input type="text" readonly="" id="lotto_text" >-->
    <form action="/drawlottos/draw_lotto/" method="post">
        {% csrf_token %}
        <input type="submit" value="로또번호생성" onclick="" class="btn btn-dark rounded-pill col-3 mt-3 mb-3 px-1">

    </form>
    {% if temp_history_list %}
        {% for draw_lotto in temp_history_list %}
            <div>
<!--                {% csrf_token %}-->
                {{ draw_lotto.lottocount }} 회
                {{ draw_lotto.game }}
                {{ draw_lotto.writer }}
                총 뽑기 횟수 : {{ draw_lotto.charpoint }} 회
                {{ draw_lotto.test }}
            </div>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}